<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>برای اسکن فیش‌های خرید به دوربین نیاز داریم</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>برای انتخاب تصویر فیش از گالری</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>برای ذخیره تصاویر فیش</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CFBundleName</key>
    <string>حسابیار</string>
    <key>CFBundleDisplayName</key>
    <string>حسابیار</string>
    <key>CFBundleIdentifier</key>
    <string>com.hesabyar.app</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist>
